.Modal {
    background: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}


.range-slider-container {
    max-width: 250px;
}

.horizontal-slider {
    width: 100%;
    height: 25px;
}

.example-thumb {
    height: 20px;
    width: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    cursor: grab;
}

.example-track {
    background: #ddd;
    height: 5px;
}

.filter-row {
    margin-bottom: 15px;
}